body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map {
    height: 700px;
    width: 900px;
}

h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

#distance {
    font-size: 20px;
    margin-top: 20px;
}
